.section-why-abertay {
  .title-primary {
    color: $theme_purple_02;
  }
  .row-features {
    .col-feature {
      border-right: 3px dashed #979797b3;
      .title-primary {
        color: $theme_mint_green_03;
      }
      .description-text {
        padding: 0.5em 1em;
        color: $theme_purple_01;
        font-family: $font_primary;
        @media screen and (max-width: 992px) { 
          padding-bottom: 20px;
          border-bottom: 3px dashed #979797b3;
        }
      }
      &:last-child {
        border-right: none;
      }
      @media screen and (max-width: 992px) { 
        border-right: none;
        .title-primary {
          font-size: 38px;
          line-height: 40px;
        }
      }
    }
  }

  &.dark-mode-section {
    .title-primary {
      color: $theme_purple_05;
    }
    .caption-text {
      color: $theme_gray_05;
    }

    .row-features {
      .col-feature {
        .title-primary {
          color: $theme_mint_green_05;
        }
        .description-text {
          color: $theme_gray_05;
        }
      }
    }
  }
}