$grid-columns:      12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1360px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 980px,
  xl: 1180px,
  xxl: 1300px
);