.container-banner-form {
  background-color: $theme_gray_05;
  padding: 1.2em 2em;
  max-width: 450px;
  margin: 0 1.5em 2em 0em;
  @media screen and (max-width:992px) {
    margin-top: 25px;
    margin-bottom: 25px;
    margin: 0 0 2em 0em;
  }
}