.programm-card {
  background-color: $white;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: .5s ease-in-out;
  &:hover {
    transform: translateY(-10px);
  }

  .grid {
    position: relative;
    clear: both;
    max-width: 1000px;
    list-style: none;
    text-align: center;
    figure {
      position: relative;
      float: left;
      overflow: hidden;
      width: 100%;
      height: auto;
      background: $theme_hot_pink_02;
      text-align: center;
      cursor: pointer;
      img {
        position: relative;
        display: block;
        min-height: 100%;
        width: 100%;
        opacity: 0.8;
      }
      figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &::before, &::after {
          pointer-events: none;
        }
      }
      figcaption, figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      figcaption > a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }
  }
  
  figure.effect-apollo {
    background: $theme_hot_pink_02;
    margin-bottom: 0;
    img {
      opacity: 0.95;
      transition: opacity 0.35s, transform 0.35s;
      transform: scale3d(1.05,1.05,1);
      width: 100%;
      height: 210px;
      object-fit: cover;
      object-position: center center;
    }
  }
    
  figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    content: '';
    transition: transform 0.6s;
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-140%,0);
  }
  
  
  figure.effect-apollo:hover img {
    opacity: 0.7;
    transform: scale3d(1,1,1);
  }
  
  figure.effect-apollo:hover figcaption::before {
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
  }
  

  .card-body {
    padding: 1.5em;
    padding-top: 2em;
    position: relative;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .modality-prg {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -1px;
      color: $theme_mint_green_01;
      margin-bottom: 10px;
    }
    .card-title {
      color: $theme_purple_01;
      min-height: 60px;
      font-weight: 700;
      font-size: 20px;
      line-height: 31px;
      letter-spacing: -1px;
      @media screen and (max-width:992px) {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: initial;
      }
    }
    .features-cards {
      margin: 0;
      padding: 0;
      list-style: none;
      min-height: 40px;
      .item-list {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        border-bottom: 1px dashed $theme_gray_02;
        .icon-feature {
          margin-right: 12px;
          margin-bottom: 3px;
        }
        .feature {
          line-height: 100%;
          font-weight: 400;
          font-size: 16px;
          span {
            font-weight: 700;
            font-size: 16px;
          }
        }
      }
    }
    .card-text {
      color: $black;
      padding-top: 10px;
    }    
    &::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 70px;
      background-color: $theme_hot_pink_02;
      top: 0;
      left: 0;
      transform: translateY(-50%);
      clip-path: polygon(100% 50%, 0 0, 0 100%);
    }
  }
  .card-button {
    .btn-abertay {
      width: 60%;
      margin-left: 20%;
      text-transform: uppercase;
      @media screen and (max-width:992px) {
        width: 90%;
        margin-left: 5%;
      }
    }
  }
}