// ***************
$efect_shadown: 0px 2px 2px rgba(50, 50, 71, 0.1), 0px 2px 4px rgba(50, 50, 71, 0.1);

.navbar-abertay {
  background-color: transparent;
  min-height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: 1s ease-in-out;
  z-index: 924;
  max-height: 100px;
  @media screen and (max-width:768px) {
    .container {
      justify-content: center;
    } 
  }
  &.navbar-abertay-scroll-show {
    background-color: $white;
    box-shadow: $efect_shadown;
  }

  .target_logo {
    .logo-navbar {
      max-width: 200px;
      transition: 1s ease-in-out;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      width: 190px !important;
      height: 50px !important;
    }
  }

  .navbar-toggle-abertay {
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    $bar-h: 3px;
    $bar-color: $white;
    @media (max-width: 768px) { 
      width: 100%;
      height: auto;
    }
    .McButton {    
      position: absolute;
      left: -50%;
      width: 100%;
      height: 25px;
      cursor: pointer;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      @media (max-width: 768px) { 
        height: 20px;
        max-width: 60px;
        transform: translateY(-80%) translateX(0px);
      }
      b {
        position: absolute;
        left: 10%;
        width: 80%;
        max-width: 30px;
        height: $bar-h;
        background-color: $bar-color;
        transition: .2s;
        transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
        &:nth-child(1) { top: 0; }
        &:nth-child(2) { top: 50%; }
        &:nth-child(3) { top: 100%; }
        @media (max-width: 768px) { 
          left: 0%;
          width: 30px;
        }

      }
      &.active {
        b {
          @media (max-width: 768px) { 
            left: 0%;
            width: 23px;
          }
          &:nth-child(1) {
            top: 10px;
            transform: rotate(225deg);
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            top: 10px;
            transform: rotate(-225deg);
          }
        }
      }
    }  
    &.navbar-abertay-scroll-show {
      .McButton {   
        b {
          background-color: $black;
        }
      }
    }
  }

  .button-search-toogle {
    &.navbar-abertay-scroll-show {
      .logo {
        filter: invert(1);
        transition: .5s ease-in-out;
      }
      &:hover {
        .logo {
          filter: invert(0);
        }
      }
    }
    &:hover {
      background-color: $theme_hot_pink_02;
    }
  }

  .abertay_form_navbar_search {
    position: fixed;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translateY( -50% ) translateX( -50%);
    z-index: $zindex-tooltip;
    display: none;
    
    &.active_search {
      display: block;
      width: 55%;
      .input-search {
        background: none;
        border: none;
        border-bottom: 2px solid white;
        font-size: 2em;
        color: white;
        @media screen and (max-width:992px) {
          font-size: 1.3em;
        }
      }
      .input-group-append {
        .btn-abertay {
          max-height: 100%;
          height: 70px;
          background-color: transparent;
          &:hover {
            background-color: $theme_hot_pink_02;
          }
        }
      }
      @media screen and (max-width:992px) {
        width: 95%;
      }
    }
    @media (max-width: 992px) { 
      width: 90%;
    }
    .btn-search {
      max-width: 70px;
      max-height: 50px;
    }
  }

  .bg_form_abertay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: $zindex-popover;
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
      content: '';
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAN9JREFUSEvtleENAiEMRt9NoJvoCLqJG6gTOYKucBs4im5gvgQSEu+4VlD8Ab+bPvpoy0CjMzTi0sE/M99V/5XqNXAFzsB94WYH4AjsgUcu1vLGgm1CIiWcgwt6CbAR2JWC04SqYgqexjwDNGvHUrEunoO7oUpoBc/Bt4leU6VRvwc8BVfj6big3orjZVO1H0FrgecaLjt5JaqldxWyu+Ee8FT3ps3lglvBuZGxzPmbdgvYMqduuAUcV+bSyFRfmZrVG3AyfhKK054u/iS+8lVaVHdwFQNddRWNliTNVL8A3XRCH6P6Iy4AAAAASUVORK5CYII=");
      position: absolute;
      width: 40px;
      height: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: transparent;
      filter: invert(1);
      border-radius: 50%;
      border: 1px solid transparent;
      cursor: pointer;
      bottom: 25%;
      left: 50%;
      transform: translateX(-50%);
    }
    &:hover {
      &::before {
        border: 1px solid black;
      }
    }
    @media screen and (max-width:992px) { 
      background-size:contain;
      background-position: top center;
    }
    .logo_abertay {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
    &.active_search {
      display: block;
    }
  }

  

  .navbar-collapse {
    position: fixed;
    width: 30%;
    height: 100vh;
    top: 0px;
    right: -100%;
    background-color: $theme_green_03;
    padding: 1em;
    z-index: $zindex-offcanvas;
    transition: .2s ease-in-out;
    &.navbar-collapse-is-show {
      right: 0;
    }
    @media (max-width: 992px) { 
      width: 90%;
      height:  100vh;
    }
    @media (max-width: 768px) { 
      width: 100%;
      height:  100vh;
    }
    .container-primary-menu {
      width: 100%;
      height: 95%;
      padding: 1em;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      overflow-y: auto;
      position: relative;
      padding-top: calc(1em + 50px);
      @media screen and (max-width:992px) {
        padding-top: calc(1em + 60px);
      }
      @media screen and (max-width:768px) {
        padding: 0;
        padding-top: calc(1em + 50px);
        padding-right: 10px;
      }
      /* width */
      &::-webkit-scrollbar {
        width: 15px;
        background: $theme_green_03;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: $theme_green_01;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $theme_black; 
        border-radius: 10px;
        border: 4px solid $theme_green_01;
        &:hover {
          background: $theme_gray_02;
        }
      }


      .navbar-toggle-abertay {
        position: absolute;
        right: 1em;
        top: 10px;
        width: 40px;
        height: 40px;
        border: 1px solid white;
        border-radius: 50%;
        .McButton.active {
          width: 60%;
          left: 50%;
          height: 50%;
          transform: translateY(-60%) translateX(-50%);
        }
      }
      .navbar-nav  {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
  
        .navbar-item-primary  {
          .nav-link {
            color: $white; 
            font-family: $font_primary;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            padding: 1em;
            cursor: pointer;
            position: relative;
            transform-origin: center center;
            @media screen and (max-width:768px) { 
              font-size: 16px;
              line-height: 25px;
            }
            &:hover {
              background-color: $theme_green_01;
            }
            &.dropdown-toggle {
              &:after {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                top: 35%;
                border-top: 2px solid $white;
                border-right: 2px solid $white;
                transform: rotate(135deg) translateY(-50%);
                transform-origin: center center;
                transition: .3s ease-in-out;
                margin-left: 15px;
              }
              &.show {
                background-color: $theme_green_01;
                color: $white;
                &:after {
                  transform-origin: center center;
                  top: 55%;
                  transform: rotate(-45deg) translateY(-50%);
                }
              }
            }
          }

          .dropdown-menu {
            position: relative;
            padding: 0;
            border: none;
            border-radius: 0;
            background-color: transparent;
            margin: 0;
            padding: 0;
            .dropdown-item  {
              color: $white; 
              font-family: $font_primary;
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 28px;
              padding: 1em;
              cursor: pointer;
              position: relative;
              padding-left: 2em;
              @media screen and (max-width:768px) { 
                font-size: 16px;
                line-height: 25px;
              }
              &:hover {
                background-color: $theme_green_04;
              }
              &.is-menu-item {
                &:after {
                  content: "";
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  top: 35%;
                  border-top: 2px solid $white;
                  border-right: 2px solid $white;
                  transform: rotate(135deg) translateY(-50%);
                  transform-origin: center center;
                  transition: .3s ease-in-out;
                  margin-left: 15px;
                }
                &.show-menu-item {
                  background-color: $theme_green_04;
                  &:after {
                    transform-origin: center center;
                    top: 55%;
                    transform: rotate(-45deg) translateY(-50%);
                  }
                }
              }
            }
            .submenu {
              display: none;
              .dropdown-item  {
                padding: 1em 1.5em;
                background-color: $theme_green_05;
                white-space: normal;
                &:hover {
                  background-color: $theme_green_01;
                }
              }
              &.show-submenu-items {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

//.dropdown-menu > li:hover > .submenu{ display: block !important; }

// FIXED BUTTON CTA IN MOVIL
.col-btn-action-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 48px;
  width: 100%;
  z-index: $zindex-modal;
  .button-action-fix {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

// SHOW TOAS FOR ERROR IN SEARCH
.toast-abertay {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: $zindex-tooltip;
  .toast-header {
    background: $theme_hot_pink_01;
    color: $white;
    img, .btn-close {
      filter: invert(1);
    }
  }
}
.toast:not(.showing):not(.show)
{
  opacity: 0;
  transform: translateY(110%);
}